{% extends 'base.html.twig' %}

{% block title %}Course{% endblock %}

{% block body %}
    <h1>Bienvenue sur la page de Course</h1>
    <p>Ceci est une page générée automatiquement pour Course.</p>
{% endblock %}
