{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Bienvenue sur la page de Home</h1>
    <p>Ceci est une page générée automatiquement pour Home.</p>
{% endblock %}
