{% extends 'base.html.twig' %}

{% block title %}Auth{% endblock %}

{% block body %}
    <h1>Bienvenue sur la page de Auth</h1>
    <p>Ceci est une page générée automatiquement pour Auth.</p>
{% endblock %}
