{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <h1>Bienvenue sur la page de Dashboard</h1>
    <p>Ceci est une page générée automatiquement pour Dashboard.</p>
{% endblock %}
