{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>Bienvenue sur la page de User</h1>
    <p>Ceci est une page générée automatiquement pour User.</p>
{% endblock %}
